.theater-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.theater-contents {
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.theater-content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
}

.theater-contents-info {
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  border-radius: 5px;
}

.theater-image-container {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.theater-contents:first-child {
  margin-top: 0;
}

.theater-contents:last-child {
  margin-bottom: 0;
}

.theater-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.theater-image-info {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
}

.theater-image-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.theater-image-info h4 {
  margin: 5px 0 0 0;
  font-size: 1em;
}

.theater-contents {
  margin: 10px 0;
  cursor: pointer;
}

.theater-contents.selected {
  border: 1px solid black;
  border-radius: 10px;
}

.theater-content-title {
  font-size: 1.2em;
}

.theater-contents.selected .theater-content-title {
  font-weight: bold;
}
